<!doctype html>
<html  lang="en"> 
<head>
    <title>Perfect Search Design | Home page</title>
</head>

<body class="theme">

    
    <!-- Main Content -->
    <div id="content" role="main">

        <section id="promo" class="section alt">
            <div class="container">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <div class="row-fluid">
                                <div class="span7">
                                    <div class="hero-unit">
                                        <h1>Our Designs Make a Difference.</h1>
                                        <br></br>
                                        <p>From basic websites to complex development, we provide fully customized solutions to help your brand succeed with eye-catching design and online marketing services that maximize your ROI.</p>
                                    </div>
                                </div>
                                <div class="span5">
                                    <img src="img/assets/imac.png" alt="imac" class="pull-right">
                                </div>
                            </div>
                
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="well">
                                        <h3>
                                            WEBSITE DESIGN
                                        </h3>
                                        <p>
                                            Perfect for Startups & Small Businesses to Fortune 500s
                                        </p>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="well">
                                        <h3>
                                            SEO & ADVERTISING
                                        </h3>
                                        <p>
                                            Strategies that lead to more qualified traffic and higher conversion rates
                                        </p>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="well">
                                        <h3>
                                            SOCIAL MEDIA
                                        </h3>
                                        <p>
                                            Improve traffic from Facebook, Twitter, Linkedin, Pinterest and other channels
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row-fluid">
                                <div class="span7">
                                    <div class="hero-unit">
                                        <h1>The Mobile Revolution is Upon Us.</h1>
                                        <br></br>
                                        <p>Growth in internet use through mobile devices is tremendous.  It’s time to adapt – allow us to create a mobile experience through our application development services.</p>
                                    </div>
                                </div>        
                                <div class="span5">
                                    <img src="img/assets/iphone.png" alt="imac" class="pull-right">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row-fluid">                        
                                <div class="hero-unit pull-center">
                                    <h1>Design with Traffic in Mind! </h1>
                                    <br></br>
                                    <p>We cause traffic!  Our team includes experts in Search Engine Optimization (SEO), Google Pay Per Click Advertising, Social Media Management, Retargeting, and many other traffic generation strategies through an emphasis of data analysis and optimization. </p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
                
            </div>
        </section>



        <section class="section">
            <div class="container">
                <div class="page-header">
                    <h1>
                        What we do? <small></small>
                    </h1>
                </div>
                <div class="row-fluid">
                    <ul class="thumbnails bordered pull-center">
                        <li class="span3">
                            <h3>
                                <i class="icon-fire huge-icon"></i>    
                                <span class="blocked">WEBSITE DESIGN</span>
                            </h3>
                            <p>
                                Our custom designs are perfect for clients of all sizes in all industries.
                            </p>
                        </li>
                        <li class="span3">
                            <h3>
                                <i class="icon-signal huge-icon"></i>    
                                <span class="blocked">MOBILE APPLICATIONS</span>
                            </h3>
                            <p>
                                We develop mobile applications for Android and Apple IOS Software.
                            </p>
                        </li>
                        <li class="span3">
                            <h3>
                                <i class="icon-comments-alt  huge-icon"></i>    
                                <span class="blocked">FACEBOOK DEVELOPMENT</span>
                            </h3>
                            <p>
                                Social media enhancements through custom Facebook page and application development.
                            </p>
                        </li>
                        <li class="span3">
                            <h3>
                                <i class="icon-glass huge-icon"></i>    
                                <span class="blocked">GRAPHIC DESIGN</span>
                            </h3>
                            <p>
                                Improve your display and retargeting campaigns with new display banners from our team.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- JavaScript -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery.min.js"><\/script>')</script>

    <!-- Load boostrap and custom scripts -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <!-- end scripts -->

    <!-- Google Code for PSD Global Site Visitors -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1047621272;
        var google_conversion_label = "a-NxCPjfowQQmN3F8wM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1047621272/?value=0&amp;label=a-NxCPjfowQQmN3F8wM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    
</body>
</html>